.input_submit {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 5px;

  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #5689be;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos__single {
  background-image: url("https://image.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
  margin-bottom: 5px;
}
.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.remove {
  background-color: rgb(235, 103, 80);
}

.todos__heading {
  font-size: 30px;
  /* text-align: center; */
  color: white;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.sideBar {
  position: absolute;
  height: 91vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  top: 20px;
  margin: 10px 10px 10px 10px;
  margin-left: 0px;
  padding: 10px;
  transition: all 0.75s cubic-bezier(0, 0.95, 0.16, 0.9);
}

.sideBar:hover {
  padding-right: 90px;
  transition: all 1s cubic-bezier(0, 0.95, 0.16, 0.9);
}
