body,
#exclude {
  text-decoration: none;
  color: black;
  cursor: auto;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.container {
  overflow-x: scroll;
  display: flex;
  overflow-y: scroll;
  justify-content: flex-start;
  max-width: 98vw;
  position: relative;
  bottom: 13px;
  min-height: 92vh;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-position: center;
  background-size: cover;
}

.todos {
  border-radius: 5px;
  display: flex;
  margin: 5px 5px 5px 5px;
  flex-direction: column;
  padding: 8px;
  background-color: rgb(191, 204, 204);
  overflow: scroll;
  width: 45%;
  max-height: 86vh;
  overflow-y: scroll;
  min-width: 210px;
}

@media (max-width: 700px) {
  .todos {
    width: 95%;
    margin-bottom: 10px;
    max-height: 47vh;
  }

  .container {
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}

.done {
  color: green;
}
