body,
#exclude {
  text-decoration: none;
  color: black;
  cursor: auto;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f2f2f2d2;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f2f2f2;
}
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: flex-start;
  max-width: 98vw;
  position: relative;
  bottom: 13px;
  min-height: 92vh;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-position: center;
  background-size: cover;
}

.todos {
  border-radius: 5px;
  display: flex;
  margin: 5px 5px 5px 5px;
  flex-direction: column;
  padding: 8px;
  /* background-color: rgb(234, 238, 238); */
  background-color: #f2f2f2;
  overflow: scroll;
  width: 45%;
  max-height: 86vh;
  overflow-y: scroll;
  min-width: 210px;
}

@media (max-width: 700px) {
  .todos {
    width: 95%;
    margin-bottom: 10px;
    max-height: 47vh;
  }

  .container {
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 92vh;
    min-width: 98%;
  }
}

img[alt="drawing"] {
  width: 200px;
}

.done {
  color: green;
}

.sideBar {
  position: absolute;
  height: 85.5vh;
  display: flex;
  width: 10px;
  cursor: pointer;
  opacity: 0.5;
  flex-direction: column;
  top: 50px;
  background: rgb(234, 238, 238);
  margin: 10px 10px 10px;
  margin-left: 0px;
  z-index: 99999;
  padding: 10px;
  transition: all 0.4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.sideBar1 {
  position: absolute;
  height: 85.5vh;
  background: rgb(234, 238, 238);
  display: flex;
  width: 10px;
  flex-direction: column;
  top: 50px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  z-index: 99999;
  margin-left: 0px;
  padding: 10px;
  padding-right: 180px;
  opacity: 0.98;
  transition: all 0.4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.sideBar:hover {
  padding-right: 180px;
  opacity: 0.98;
  transition: all 0.4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
